.Pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr  ;

}



.Pokemon{
    margin: 0.5rem;
    padding: 1rem 1rem ;
    background-color: #49D0B0;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

}

.Pokemon .name{
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 0;
}

.Pokemon .number{
    font-weight: 500;
    color: #039976;
    text-align: right;
    font-size: .625rem;
}

.Pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.Pokemon .detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between
    
}

.Pokemon .detail .types .type{
    background-color: #61e1ca;
    color: #ffffff;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;

}

.Pokemon .detail img{
   max-width: 100%;
   height: 70px;
   align-items: center;
   align-self: flex-end;
  

}

.pagina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    

}

.pagina button{
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}


@media screen and (min-width: 380px) {
    .Pokemons{

       grid-template-columns: 1fr 1fr  ;
       
       
    }
}  

@media screen and (min-width: 576px) {
    .Pokemons{

       grid-template-columns: 1fr 1fr  1fr ;
       
       
    }
}   

@media screen and (min-width: 992px) {
    .Pokemons{

       grid-template-columns: 1fr 1fr  1fr 1fr  ;
        max-width: 992px; 
         margin: 0 auto; 
       
    }
}   


